# Loan -  Feature Selection

Choosing the most effective variables

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#df = sns.load_dataset('mpg')
#df = df.dropna()
#df.head()
df=pd.read_csv(r"C:\Users\ophir\OneDrive\Desktop\loan_data.csv")
df

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [ ]:
df = pd.get_dummies(df, columns=['purpose'], drop_first=True)
df

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,False,True,False,False,False,False
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,True,False,False,False,False,False
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,False,True,False,False,False,False
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,False,True,False,False,False,False
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1,False,False,False,False,False,False
9574,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1,False,False,False,False,False,False
9575,0,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1,False,True,False,False,False,False
9576,0,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1,False,False,False,True,False,False
9577,0,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1,False,True,False,False,False,False

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   credit.policy               9578 non-null   int64
 1   int.rate                    9578 non-null   float64
 2   installment                 9578 non-null   float64
 3   log.annual.inc              9578 non-null   float64
 4   dti                         9578 non-null   float64
 5   fico                        9578 non-null   int64
 6   days.with.cr.line           9578 non-null   float64
 7   revol.bal                   9578 non-null   int64
 8   revol.util                  9578 non-null   float64
 9   inq.last.6mths              9578 non-null   int64
 10  delinq.2yrs                 9578 non-null   int64
 11  pub.rec                     9578 non-null   int64
 12  not.fully.paid              9578 non-null   int64
 13  purpose_credit_card         9578 non-null   bool
 14  purpose_debt_consolidation  9578 non-null   bool
 15  purpose_educational         9578 non-null   bool
 16  purpose_home_improvement    9578 non-null   bool
 17  purpose_major_purchase      9578 non-null   bool
 18  purpose_small_business      9578 non-null   bool
dtypes: bool(6), float64(6), int64(7)
memory usage: 1.0 MB

In [ ]:
y=df['not.fully.paid']
X = df.drop(columns=['not.fully.paid'])

# Hyperparameters

## Multivariable Analysis

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import LinearSVC
from sklearn.linear_model import Ridge

### Summarization and Selection of Variables

The Lasso penalty here is controlled by alpha = 0.01.
This penalty forces some coefficients to shrink to zero, effectively performing feature selection.
A higher penalty (larger alpha) would result in more coefficients being zeroed out, and a lower penalty (smaller alpha) would retain more features.

In [ ]:
# Fit models and determine if a feature is selected (1) or not (0)
lasso = Lasso(alpha=0.01).fit(X, y)
lasso_selected = (np.abs(lasso.coef_) > 0).astype(int)

# Fit Ridge model
ridge = Ridge(alpha=0.01).fit(X, y)
ridge_selected = (np.abs(ridge.coef_) > 0).astype(int)

svm = LinearSVC(C=0.01, penalty="l1", dual=False).fit(X, y)
svm_selected = (np.abs(svm.coef_[0]) > 0).astype(int)

gb = GradientBoostingClassifier().fit(X, y)
gb_selected = (gb.feature_importances_ > 0).astype(int)

rf = RandomForestClassifier().fit(X, y)
rf_selected = (rf.feature_importances_ > 0).astype(int)

# Create a DataFrame to store results
selection_df = pd.DataFrame({
    'Feature': X.columns,
    'Lasso': lasso_selected,
    'SVM': svm_selected,
    'GradientBoost': gb_selected,
    'RandomForest': rf_selected,
    'Ridge': ridge_selected
})

# Sum the number of selections for each feature
selection_df['Sum'] = selection_df[['Lasso', 'SVM', 'GradientBoost', 'RandomForest','Ridge']].sum(axis=1)

# Output the results
print(selection_df)

                       Feature  Lasso  SVM  GradientBoost  RandomForest  \
0                credit.policy      0    1              1             1
1                     int.rate      0    0              1             1
2                  installment      1    1              1             1
3               log.annual.inc      1    1              1             1
4                          dti      1    1              1             1
5                         fico      1    1              1             1
6            days.with.cr.line      1    1              1             1
7                    revol.bal      1    1              1             1
8                   revol.util      1    1              1             1
9               inq.last.6mths      1    1              1             1
10                 delinq.2yrs      0    0              1             1
11                     pub.rec      0    1              1             1
12         purpose_credit_card      0    1              1             1
13  purpose_debt_consolidation      0    1              1             1
14         purpose_educational      0    0              1             1
15    purpose_home_improvement      0    0              1             1
16      purpose_major_purchase      0    0              1             1
17      purpose_small_business      0    1              1             1

    Ridge  Sum
0       1    4
1       1    3
2       1    5
3       1    5
4       1    5
5       1    5
6       1    5
7       1    5
8       1    5
9       1    5
10      1    3
11      1    4
12      1    4
13      1    4
14      1    3
15      1    3
16      1    3
17      1    4

# Creating DataFrame with most valuable variables

 Selected variables - recommended by 3 or more models

In [ ]:
 #Selecting variables with a sum of selections >= 4
final_var = selection_df[selection_df['Sum'] >= 4]['Feature'].tolist()
df_model = df[final_var].copy()
df_model['not.fully.paid'] = df['not.fully.paid'].copy()

# Output the result to verify
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   credit.policy               9578 non-null   int64
 1   installment                 9578 non-null   float64
 2   log.annual.inc              9578 non-null   float64
 3   dti                         9578 non-null   float64
 4   fico                        9578 non-null   int64
 5   days.with.cr.line           9578 non-null   float64
 6   revol.bal                   9578 non-null   int64
 7   revol.util                  9578 non-null   float64
 8   inq.last.6mths              9578 non-null   int64
 9   pub.rec                     9578 non-null   int64
 10  purpose_credit_card         9578 non-null   bool
 11  purpose_debt_consolidation  9578 non-null   bool
 12  purpose_small_business      9578 non-null   bool
 13  not.fully.paid              9578 non-null   int64
dtypes: bool(3), float64(5), int64(6)
memory usage: 851.3 KB

### One-Hot Encoding

Or labael encoding<br>
Encoding Categorial Data<br>
#get_dummies<br>
#LabelEncoder

In [ ]:
#df=pd.get_dummies(df)
from sklearn.preprocessing import LabelEncoder
label_encoders = {}
for column in []:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

# NEXT to - Imbalanced data... (When necessary)

In [ ]:
df_model.to_csv('df_model.csv')

### Setting proportion for Train, Test, Dev

In [ ]:
from sklearn.model_selection import train_test_split

# Assuming df_model is already defined and contains the necessary features and target variable

# Define the target and feature set
X = df_model.drop(columns=['not.fully.paid'])
y = df_model['not.fully.paid']

# Total number of samples
total_samples = len(df_model)

# First split: training and temporary (test + dev)
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)

# Second split: testing and development (dev)
X_dev, X_test, y_dev, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# Calculate percentages
train_percent = (X_train.shape[0] / total_samples) * 100
dev_percent = (X_dev.shape[0] / total_samples) * 100
test_percent = (X_test.shape[0] / total_samples) * 100

# Output the sizes of each set in percentages
print(f"Training set size: {train_percent:.2f}%")
print(f"Validation (Dev) set size: {dev_percent:.2f}%")
print(f"Testing set size: {test_percent:.2f}%")

Training set size: 69.99%
Validation (Dev) set size: 15.00%
Testing set size: 15.00%