In [ ]:
"""BIU ML 001 - Data Preperation _Solution.ipynb

Automatically generated by Colab.

Original file is located at
    https://colab.research.google.com/drive/1hkASAaN4-d7A9NfstUNBcHLRIun_y6YV
"""

In [ ]:
# Commented out IPython magic to ensure Python compatibility.
!pip install pandas
import pandas as pd
!pip install numpy
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [ ]:
"""# DATA PREP

### 1. Uploading the data
"""

In [ ]:
df1=pd.read_csv(r"C:\Users\ophir\OneDrive\Desktop\BIU\Class 1\income_1.csv",index_col=0)
df2=pd.read_csv(r"C:\Users\ophir\OneDrive\Desktop\BIU\Class 1\income_2.csv",index_col=0)

In [ ]:
"""### 2. Merging tables
Inner Join                                                                                                                        
This type of merge returns only the rows where there is a match between the two dataframes.<br>                                      
Outer Join      <br>                                                                                                              This type of merge returns all rows from both dataframes, and fills in NaN where there are no matches.
"""

In [ ]:
# Merge the dataframes on common columns without duplicating columns
merged_df= pd.merge(df1, df2, on=['age', 'workclass', 'fnlwgt'], how='inner')

In [ ]:
# Save the merged dataframe to a new CSV file
merged_df.to_csv('merged_income.csv', index=False)

In [ ]:
# Display the first few rows of the merged dataframe
merged_df

In [ ]:
merged_df.columns

In [ ]:
"""### 3. Convert an objects into viable data
(string, int, float....)
"""

In [ ]:
df=merged_df.copy()

In [ ]:
df.info()

In [ ]:
df['income']=df['income'].astype('string')

In [ ]:
# We can replace df['income'] values to avoid risk of changing the values in other columns
df=df.replace(to_replace="<=50K", value="0")
df=df.replace(to_replace=">50K", value="1")

In [ ]:
"""### 4. Value counts of 50>"""

In [ ]:
df['income'].value_counts()

In [ ]:
#Values of the categorial feature
df['education'].value_counts()

In [ ]:
df['education']=df['education'].astype('string')
df['education']=df['education'].str.replace('-','')

In [ ]:
df.info()

In [ ]:
"""### 5. Clean Text - remove punctuation"""

In [ ]:
!pip install string
import string

In [ ]:
# Columns to convert
columns_to_convert = ['workclass', 'education', 'relationship', 'sex', 'race','occupation','native.country']

In [ ]:
# Convert specified columns to string type and create string_df
string_df = df[columns_to_convert].astype('string')

In [ ]:
# Convert specified columns to string type and create string_df
string_df = df[columns_to_convert].astype(str)

In [ ]:
# Remove punctuation in one line
string_df = string_df.applymap(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

In [ ]:
# Assign the cleaned columns back to the original DataFrame
df[columns_to_convert] = string_df

In [ ]:
# Display the resulting DataFrame
df

In [ ]:
"""exploring features"""

In [ ]:
df['race'].value_counts()
#df['workclass'].value_counts()
#df['relationship'].value_counts()

In [ ]:
"""### 6. Narrowing Categories

Exploriring the 'native.country' category
"""

In [ ]:
df['native.country'].value_counts()

In [ ]:
#North America
df['native.country'] = df['native.country'].replace({'UnitedStates': "North America",
                                                     'Mexico': "North America",
                                                     'Canada': "North America",
                                                     'Puerto Rico': "North America",
                                                     'Cuba': "North America",
                                                     'Jamaica': "North America",
                                                     'DominicanRepublic':"North America",
                                                     'Nicaragua':"North America",
                                                     'Honduras':"North America",
                                                     'OutlyingUSGuamUSVIet':"North America",
                                                     'PuertoRico':"North America"
                                                    })

In [ ]:
#South America
df['native.country'] = df['native.country'].replace({
                                                     'Columbia':"Central and South America",
                                                     'Peru':"Central and South America",
                                                     'Ecuador':"Central and South America",
                                                     'Guatemala':"Central and South America",
                                                     'Nicaragua':"Central and South America",
                                                     'ElSalvador': "Central and South America",
                                                     'Haiti': "Central and South America",
                                                     'Central America': "Central and South America",
                                                     'TrinadadTobago':"Central and South America"})

In [ ]:
# Create a dictionary for replacement (map)
replacement_dict = {'England': 'UK', 'Scotland': 'UK', 'Ireland': 'UK'}

In [ ]:
# Use the map function to replace values in 'native.country' based on the dictionary
# The fillna function ensures that any values not in the dictionary remain unchanged
df['native.country'] = df['native.country'].map(replacement_dict).fillna(df['native.country'])

In [ ]:
#Europe
df['native.country'] = df['native.country'].replace({'Italy': "Europe",
                                                     'Poland': "Europe",
                                                     'Germany': "Europe",
                                                     'Portugal': "Europe",
                                                     'Hungary': "Europe",
                                                     'Greece': "Europe",
                                                     'Yugoslavia': "Europe",
                                                     'France': "Europe",
                                                     'HolandNetherlands': "Europe"})

In [ ]:
#Asia
df['native.country'] = df['native.country'].replace({'Philippines': "Asia",
                                                     'India': "Asia",  'China': "Asia",
                                                     'Philippines': "Asia",
                                                     'China': "Asia",
                                                     'Japan': "Asia",
                                                     'Taiwan': "Asia",
                                                     'Iran': "Asia",
                                                     'Hong': "Asia",
                                                     'Laos': "Asia",
                                                     'South': "Asia",
                                                     'Vietnam': "Asia",
                                                     'Cambodia': "Asia",
                                                     'Thailand': "Asia"})

In [ ]:
df['native.country'].value_counts()

In [ ]:
df.info()

In [ ]:
df['income'].value_counts()

In [ ]:
df.info()

In [ ]:
"""Changing values"""

In [ ]:
df=df.replace(to_replace="Female", value='1')
df=df.replace(to_replace="Male", value='0')

In [ ]:
df['sex']=df['sex'].astype(int)

In [ ]:
df['sex'].value_counts()

In [ ]:
df.info()

In [ ]:
df['age'].value_counts()#reduce

In [ ]:
"""#### Task

1-Create age groups <br> 2- Crate a countplot for the groups

### Age Groups
"""

In [ ]:
# Categorize the ages into bins with labels
df['age_range'] = pd.cut(df['age'], bins=[0, 18, 24, 34, 44, 69, float('inf')], labels=['<18', '18-24', '25-34', '35-44', '45-69', '>70'], right=False)

In [ ]:
# Aggregate the age groups
age_group_aggregation = df.groupby('age_range').size().reset_index(name='count')

In [ ]:
age_group_aggregation

In [ ]:
# Create a countplot
plt.figure(figsize=(10, 6))
sns.countplot(x='age_range', data=df, order=['<18', '18-24', '25-34', '35-44', '45-69', '>70'])
plt.title('Count of Age Groups')
plt.xlabel('Age Range')
plt.ylabel('Count')
plt.show()

In [ ]:
df['sex'].value_counts()

In [ ]:
df_dummy=df['income']

In [ ]:
sns.countplot(df_dummy)

In [ ]:
"""Saving Manipulated data"""

In [ ]:
df.to_csv('final_income_copy')

In [ ]:
"""Another option is Pickle file

# Pickle file

A pickle file in Python is used to serialize and deserialize Python objects. <br>Serialization (write binary) is the process of converting a Python object into a byte stream, which can then be written to a file or transmitted over a network. <br>Deserialization (read binary) is the reverse process, converting the byte stream back into a Python object.
"""

In [ ]:
df.to_pickle('mrg_df_after_data_prep_5.2.25.pkl')
df=pd.read_pickle('mrg_df_after_data_prep_5.2.25.pkl')

In [ ]:
import pickle
#Write a pickle file
with open('income.pkl', 'wb') as f:
    pickle.dump(df, f)

In [ ]:
print("income dataset saved as a pickle file.")

In [ ]:
#Read a pickle file and load the data
with open('income.pkl', 'rb') as file:
    loaded_data = pickle.load(file)

In [ ]:
loaded_data

In [ ]:
"""# We got A flat file, Next to EDA"""